In [2]:
import pandas as pd
import collections
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_excel(r'C:\Users\zishe\Desktop\TIAS\thesis\final data\final_data.xlsx')
df.head()

,OCC_CODE,OCC_TITLE,year,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,...,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,TOT_EMP,EMP_PRSE,OCC_SEC,SecMean,H_MEAN_SEC_ratio
0,11-9039,"Education Administrators, All Other",2010,37.259998,77500.0,1.2,17.920000,23.049999,32.060001,45.410000,...,37270.0,47940.0,66680.0,94450.0,128810.0,13450.0,2.8,11,53.616684,0.694933
1,11-3051,Industrial Production Managers,2010,58.090000,120830.0,1.7,40.619999,49.450001,57.990002,65.870003,...,84490.0,102860.0,120620.0,137000.0,152650.0,200.0,0.0,11,53.616684,1.083431
2,11-9161,Emergency Management Directors,2010,26.410000,54930.0,0.8,12.320000,18.070000,25.000000,33.419998,...,25630.0,37580.0,52010.0,69500.0,89850.0,6710.0,2.3,11,53.616684,0.492571
3,11-9039,"Education Administrators, All Other",2010,41.290001,85880.0,1.1,24.209999,30.510000,39.340000,50.450001,...,50350.0,63460.0,81820.0,104940.0,128250.0,14650.0,1.9,11,53.616684,0.770096
4,11-9071,Gaming Managers,2010,37.080002,77120.0,1.4,20.000000,25.670000,33.259998,43.560001,...,41600.0,53400.0,69190.0,90610.0,121180.0,2170.0,3.6,11,53.616684,0.691576

In [3]:
def dealstr(s):
    return s.lower().replace('and', '').replace(',', '').split()

df['OCC_TITLE'].map(dealstr).explode().value_counts()[:10]

workers        10169
other           8778
all             8274
operators       7039
technicians     5036
managers        4268
except          4256
clerks          3728
machine         3660
repairers       3214
Name: OCC_TITLE, dtype: int64

In [4]:
df['title'] = df['OCC_TITLE'].str.lower().replace('and', '').replace(',', '')

titles = list(df['OCC_TITLE'].map(dealstr).explode().value_counts()[:10].index)
titles = [t for t in titles if t not in ['other', 'all', 'except']]
df['title'] = df['title'].apply(
    lambda x:[s for s in titles if s in x][0] 
    if any([s in x for s in titles]) 
    else 'other'
)

In [ ]:
temp = df.groupby(['year', 'title'])['TOT_EMP'].sum().unstack() / 1e7

temp.drop('other', axis=1).plot(
    kind='bar', figsize=(24, 10)
)
plt.ylabel('Total employments (Unit: 10 million)')
plt.title('Total employments of different job categories in year 2010-2020')
plt.savefig('output.png', dpi=500)

In [ ]:
temp = df.groupby(['year', 'title'])['H_MEAN'].mean().unstack() 

temp.drop('other', axis=1).plot(
    kind='bar', figsize=(24, 10)
)
plt.ylabel('Average Hourly Wage')
plt.title('Average wage of different job categories in year 2010-2020')
plt.savefig('output.png', dpi=500)

In [ ]:
temp.describe()

In [ ]:
temp.to_excel('sum.xlsx')

In [ ]:
from wordcloud import WordCloud

f = ' '.join(df['OCC_TITLE'].map(dealstr).explode().str.strip().values)
wordcloud = WordCloud( font_path='C:\\windows\\Fonts\\timesbd.ttf',
                    background_color='white', 
                    collocations=False,
                    scale=2).generate(f)
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.figsize = (10,20)
plt.savefig('pic.png', 
            dpi=1500)

In [ ]:
print(f)

In [ ]:
a=f.split()

In [ ]:
from collections import *
ignore = ['other', 'all', 'except','of']
counts_a = collections.Counter(a) 
for word in ignore:
    if word in counts_a:
        del counts_a[word]

In [ ]:
counts = pd.DataFrame(counts_a.most_common(20),
                             columns=['words', 'count'])
print(counts)

In [ ]:
# fig, ax = plt.subplots(figsize=(8, 8))
# ax.set_title("Most Frequent Words in Occupation Titles by Count")
fig = plt.figure(figsize=(8, 8))
counts.sort_values(by='count').plot.barh(x='words',
                      y='count',  color="purple")

plt.title("Most Frequent Words in Occupation Titles by Count")

In [ ]:
plt.show()